<ion-card>
  <ion-card-header>
    <ion-card-title>Crear una nueva cita</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list lines="none">
      <ion-item>
        <ion-input 
          [(ngModel)]="frase"     
          required="required" 
          minlength="3"
          label="Cita&nbsp;&nbsp;&nbsp;" />
      </ion-item>
      <ion-item>
        <ion-input 
          [(ngModel)]="autor"     
          required="required" 
          minlength="3"
          label="Autor" />
      </ion-item>
    </ion-list>
    <ion-button fill="clear" class="btn-agregar" (click)="addCita()">
      Agregar
      <ion-icon slot="end" name="add-outline"></ion-icon>
    </ion-button>
  </ion-card-content>
  
</ion-card>
